.ihPpGR, .ewAjs, .eztyvT, .ewAjsu, .jCQkbo, .bClDPK, .hAhUar{
    display: none
  }
  
  .dAalIT {
    min-width: 300px;
  }
  
  .rlwYm {
    padding-top: 10px;
  }
  
  html, body {
      overflow-y: hidden; /* Disables vertical scrolling */
  }
  
  .rlwYm {
    background-color: black;
  }